* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

#diary {
  background-image: url("./essets/images/flower_origin.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#diary #diary_container {
  background-color: white;
  width: 95%;
  height: 95%;
  opacity: 0.7;
  overflow: hidden;
}

#diary #diary_container .diary_left {
  width: 70%;
  height: 100%;
  float: left;
}

#diary #diary_container .diary_right {
  width: 30%;
  height: 100%;
  float: right;
}

#diary #diary_container .diary_title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}

#diary #diary_container .diary_title #title {
  text-align: center;
  width: 80%;
  font-size: 4em;
}

#diary #diary_container .diary_title #sub_title {
  text-align: center;
  border-top: 5px dotted black;
  width: 20%;
  font-size: 1.5em;
  line-height: 30px;
}

#diary #diary_container .diary_calendar {
  padding: 20px;
  height: 85%;
}

#diary #diary_container .diary_calendar table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

#diary #diary_container .diary_calendar th {
  border: 2px dotted black;
}

#diary #diary_container .diary_calendar .week {
  height: 10%;
  background-color: #fa8072;
}

#diary #diary_container .diary_contents {
  height: 100%;
  padding: 20px;
}

#diary #diary_container .diary_contents div img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

#diary #diary_container .diary_contents div {
  height: 50%;
  padding-top: 10%;
}

#diary #diary_container .diary_contents .input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px dotted black;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (max-width: 1200px) {
  #diary #diary_container .diary_title #title {
    font-size: 2.5em;
  }

  #diary #diary_container .diary_title #sub_title {
    font-size: 1em;
  }

  #diary #diary_container .diary_contents {
    height: 100%;
    padding: 40px 10px 0 0;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*스타일입력*/

  #diary #diary_container {
    padding-bottom: 50%;
  }

  #diary #diary_container .diary_title #title {
    font-size: 2.7em;
  }

  #diary #diary_container .diary_title #sub_title {
    font-size: 1em;
  }

  #diary #diary_container .diary_left {
    width: 100%;
    float: none;
  }

  #diary #diary_container .diary_right {
    width: 100%;
    float: none;
  }

  #diary #diary_container .diary_contents {
    height: 100%;
    padding: 10px;
    display: flex;
  }

  #diary #diary_container .diary_contents div {
    padding: 0;
  }

  #diary #diary_container .diary_contents #diary_todo {
    width: 50%;
    padding: 10px;
    margin-top: 30px;
  }

  #diary #diary_container .diary_contents #diary_todo img {
    width: 50%;
  }

  #diary #diary_container .diary_contents #diary_notes {
    width: 50%;
    padding: 10px;
    margin-top: 27px;
  }

  #diary #diary_container .diary_contents #diary_notes img {
    width: 40%;
  }

  #diary #diary_container .diary_contents div img {
    padding-top: 0;
    width: 10%;
    display: block;
    margin: 0 auto;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  /*스타일입력*/
  #diary {
    background-image: url("./essets/images/flower_origin.jpg");
    background-size: cover;
  }

  #diary #diary_container {
    padding-bottom: 50%;
  }

  #diary #diary_container .diary_calendar {
    padding-bottom: 0;
  }

  #diary #diary_container .diary_title #title {
    font-size: 2em;
  }

  #diary #diary_container .diary_title #sub_title {
    font-size: 1em;
  }

  #diary #diary_container .diary_left {
    width: 100%;
    float: none;
  }

  #diary #diary_container .diary_right {
    width: 100%;
    float: none;
  }

  #diary #diary_container .diary_contents {
    height: 100%;
    padding: 10px;
    display: flex;
  }

  #diary #diary_container .diary_contents div {
    padding: 0;
  }

  #diary #diary_container .diary_contents #diary_todo {
    width: 50%;
    padding: 10px;
    margin-top: 30px;
  }

  #diary #diary_container .diary_contents #diary_todo img {
    width: 50%;
  }

  #diary #diary_container .diary_contents #diary_notes {
    width: 50%;
    padding: 10px;
    margin-top: 27px;
  }

  #diary #diary_container .diary_contents #diary_notes img {
    width: 40%;
  }

  #diary #diary_container .diary_contents div img {
    padding-top: 0;
    width: 10%;
    display: block;
    margin: 0 auto;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  /*스타일입력*/
  #diary #diary_container {
    padding-bottom: 50%;
  }

  #diary #diary_container .diary_title #title {
    font-size: 1.5em;
  }

  #diary #diary_container .diary_title #sub_title {
    font-size: 0.8em;
  }

  #diary #diary_container .diary_calendar table {
    font-size: 15px;
  }

  #diary #diary_container .diary_left {
    width: 100%;
    float: none;
  }

  #diary #diary_container .diary_right {
    width: 100%;
    float: none;
  }

  #diary #diary_container .diary_contents {
    height: 100%;
    padding: 10px;
    display: flex;
  }

  #diary #diary_container .diary_contents div {
    padding: 0;
  }

  #diary #diary_container .diary_contents #diary_todo {
    width: 50%;
    padding: 10px;
  }

  #diary #diary_container .diary_contents #diary_todo img {
    width: 50%;
    margin-top: 3px;
  }

  #diary #diary_container .diary_contents #diary_notes {
    width: 50%;
    padding: 10px;
  }

  #diary #diary_container .diary_contents #diary_notes img {
    width: 40%;
  }

  #diary #diary_container .diary_contents div img {
    padding-top: 0;
    width: 10%;
    display: block;
    margin: 0 auto;
  }
}
